*{
   margin:0px;
   padding:0px;
   font-family: "Inter", sans-serif;
}


/* for navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFFFFF;
    padding:20px 80px ;
}


nav img{
    width:130px;
    height: auto;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    align-items: center;
    font-size: 16px;
    color:#575757 ;
}

.button1{
    background:#1D4ED8;
    color: white;
    padding:10px 20px;
    border: none;
    font-size: 16px;
    border-radius:10px;
}


/* Hero Section */

.hero{
    background:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    height: auto;
}
.overlay{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 150px;
    padding-bottom: 90px;
    
}
.overlay h1{
    font-size:80px;
}

.overlay p{
    font-family: 22px;
    width:700px;
}

.overlay button{
    margin-top: 300px;
    padding: 22px 30px;
    font-size: 24px;
}



/* Speakers section */

.speakersContainer{
   
    padding:50px 80px ;
}
.speakersContainer h1{
    font-size: 56px;
    font-weight: bold;
    margin: 50px;
    text-align: center;
}

.cardContainer{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 60px;
}
.cardContainer img{
    
    width: 100%;
    object-fit: cover;
}
.speakerCard{
      background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,.08);
    transition: .3s;
}
.p1speakers{
    color:#2563EB;
    font-size: 12px;
    margin-bottom:10px;
}
.p2speakers{
    color:#575757;
    font-size: 14px;
    margin-top:10px;
}
.speakerCard div{
    padding:30px;
}










/* footer */
footer{
    background: #0F172A;
    color: white;
    padding: 50px 80px 20px;
    
}
.footerTop{
    display: flex;
    justify-content: space-between;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
.social-icons a{
    color: white;
    font-size:30px;
   
}

hr{
    border: none;
    border-top: 1px solid #525355;
    margin-bottom: 20px;
}

.footerBottom{
    display: flex;
    justify-content: space-between;
    color: #c5c6c6;
    font-size: 16px;
}
.footerPrivacy{
    display: flex;
   gap: 20px;
   color: #b0b0b0;

}
